html,body {
background-color:  #002a36;
font-family: "Lato", sans-serif;
width: 70%;
}
.sidenav {
height: 100%;
width: 20%;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #dc3545;
overflow-x: hidden;
padding-top: 20px;
} 
.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 25px;
color:white;
display: block;
}
.sidenav a:hover {
color: black;
border-left: 4px solid black;
}
.main {
margin-left: 160px; 
font-size: 28px;
padding: 0px 10px;
width: 200%;
}
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
